<main>
  <p id="notice"><%= flash[:notice] %></p>
      <%= render 'user_info', user: @books.user %>
        <div class='col-md-8 offset-md-1'>
        <h2>Book detail</h2>

        <table class='table table-hover table-inverse'>
          <tbody>
            <tr>
              <td>
                <%= link_to(image_tag(@books.user.get_profile_image(100,100)), user_path(@books.user.id)) %><br>
                <%= link_to @books.user.name, user_path(@books.user.id) %>
              </td>
              <td>
                <%= link_to book_path(@books.id) do %>
                <%= @books.title %>
                <% end %>
              </td>
              <td><%= @books.body %></td>
              <td>
                <% if @books.user == current_user %>
                  <%= link_to "Edit", edit_book_path(@books.id), class:"btn btn-sm btn-success" %>
                <% end %>
              </td>
              <td>
                <% if @books.user == current_user %>
                  <%= link_to "Destroy", book_path(@books.id), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger"  %>
                <% end %>
              </td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</main>